@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  .light {
    --color-primary: #cb511f;
    /* bright red */
    --color-secondary: #e7e7cb;
    /* bright yellow */
    --color-tertiary: #525239;
    /* bright green */
    --color-background: #cfc9d7;
    /* white */
    --color-background2: #EAECEF;

    --color-background3: #c6cbd2;
    /* light gray */
    --color-grey: #BDBDBD;
    /* medium gray */
    --color-grey2: #757575;

    --color-text: #1c1c24;

    --color-text2: #2e2e34;
  }

  .dark {
    --color-primary: #cb511f;
    /* bright orange */
    --color-secondary: #e7e7cb;
    /* bright blue */
    --color-tertiary: #525239;
    /* golden yellow */
    --color-background: #2d2d31;
    /* dark gray */
    --color-background2: #0e1a21;

    --color-background3: #1b242a;
    /* black */
    --color-grey: #A9A9A9;
    /* light gray */
    --color-grey2: #A9A9A9;
    /* muted gray */
    --color-text: #e9e9d5;

    --color-text2: #c6c6b6;
  }

  h1 {
    @apply text-[18px] font-roboto
  }

  h2 {
    @apply  font-roboto
  }

  h3 {
    @apply  font-semibold text-[16px] leading-[26px] font-roboto
  }

  h4 {

    @apply text-[14px]  leading-[22px] font-roboto
  }

  p {
    @apply  text-[12px] leading-[18px] font-roboto
  }

  input, textarea {
    @apply  font-roboto
  }

  button {
    @apply font-roboto
  }

}


.linear-gradient {
  background: linear-gradient(179.14deg,
      rgba(32, 18, 63, 0) -7.14%,
      #000000 87.01%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}