@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  .dark {
    --color-primary: #FF5252;
    /* bright red */
    --color-secondary: #FFB900;
    /* bright yellow */
    --color-tertiary: #00E676;
    /* bright green */
    --color-black: #FFFFFF;
    /* white */
    --color-black2: #E0E0E0;
    /* light gray */
    --color-grey: #BDBDBD;
    /* medium gray */
    --color-grey2: #757575;
    /* dark gray */
    --color-grey3: #424242;
    /* very dark gray */
    --color-grey4: #212121;
    /* almost black */
    --color-grey5: #9E9E9E;
    /* muted gray */
    --color-text: #ffffff;
  }

  .light {
    --color-primary: #F16623;
    /* bright orange */
    --color-secondary: #17AEBF;
    /* bright blue */
    --color-tertiary: #F0A500;
    /* golden yellow */
    --color-black: #333333;
    /* dark gray */
    --color-black2: #1c1c24;
    /* black */
    --color-grey: #D3D3D3;
    /* light gray */
    --color-grey2: #A9A9A9;
    /* medium gray */
    --color-grey3: #ECECEC;
    /* very light gray */
    --color-grey4: #F7F7F7;
    /* almost white */
    --color-grey5: #BFBFBF;
    /* muted gray */
    --color-text: #1c1c24;

  }

  h1 {
    @apply text-[18px] text-white font-roboto
  }

  h2 {
    @apply text-white font-roboto
  }

  h3 {
    @apply text-white font-semibold text-[16px] leading-[26px] font-roboto
  }

  h4 {

    @apply text-[14px] text-white leading-[22px] font-roboto
  }

  p {
    @apply text-white text-[12px] leading-[18px] font-roboto
  }

  input, textarea {
    @apply text-white font-roboto
  }

  button {
    @apply font-roboto
  }

}


.linear-gradient {
  background: linear-gradient(179.14deg,
      rgba(32, 18, 63, 0) -7.14%,
      #000000 87.01%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}